*{ /*--*-- toda la página*/
	margin: 0;
	padding: 0;
}
html{
	font-family: Century Gothic;
	color: #F63F3F;
}

body{
	text-align: center;
}
#fondo{
	background-image: url("https://image.freepik.com/vector-gratis/equipo-de-herramientas-de-carpintero-en-carrito-de-compras_45996-73.jpg"); 
}
#tabla1{
	margin: 5px;
	width: 1000px;
	border: solid 3px;
	background-color: #F63F3F;
	border-color: white;
	border-radius: 10px;
}
#tabla1 a {
	color: white;
}
#tabla2{
	margin: 5px;
	width: 1000px;
	border: solid 3px;
	background-color: #F63F3F;
	border-color: white;
	display: inline-block;
	border-radius: 10px;
	color:white;
}
	#ima {
		width: 50px;
		height: 50px;
	}
#tabla3 {
	margin: 5px;
	width: 1000px;
	border: solid 3px;
	background-color: #F63F3F;
	border-color: white;
	border-radius: 10px;
	color:white;

}
#tabla3 a{
	color: white;
}
}