*{ /*--*-- toda la página*/
	margin: 0;
	padding: 0;
}
html{
	font-family: Century Gothic;
	color: #F63F3F;
}

body{
	text-align: center;
}

#fondo{
	background-image: url("https://image.freepik.com/vector-gratis/equipo-de-herramientas-de-carpintero-en-carrito-de-compras_45996-73.jpg"); 
}
#tabla{
	margin: 5px;
	width: 750px;
	border: solid 3px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	border-color: #F63F3F;
}
#n{
	text-align: left;
}
#button{
	text-align: center;
	color:white;
}